body {
  font-family: getFont('montserrat');
}
main {
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-color: getColor('background');
}
