$colors: (
	'primary': #ffffff
);

body.light {
	--primary: #ffffff;
	--secondary: #000000;
	--dark-gray: ##d7d7d7;
	--background: #eeeeee;
}

body.dark {
	--primary: #444444;
	--secondary: #ffffff;
	--background: #272727;
}
