$colors: (
  'primary': #ffffff,
);

body.light {
  --primary: #ffffff;
  --secondary: #000000;
  --dark-gray: #d7dd7;
  --background: #eeeeee;
}

body.dark {
  --primary: #000000;
  --secondary: #ffffff;
  --dark-gray: #d7dd7;
  --background: #262626;
}
