<section class="calculator" data-section="numeral">
	<div class="container">
		<h2 class="calculator__title">Калькулятор</h2>
		<div class="calculator__wrapper">
			<input
				type="number"
				class="calculator__input calculator__input-first"
				placeholder="Введіть число"
			/>
			<div class="calculator__action">
				<button class="calculator__btn" data-action="+">+</button>
				<button class="calculator__btn" data-action="*">*</button>
				<button class="calculator__btn" data-action="-">-</button>
				<button class="calculator__btn" data-action="/">/</button>
			</div>
			<input
				type="number"
				class="calculator__input calculator__input-second"
				placeholder="Введіть число"
			/>
			<button class="calculator__btn" data-action="=">=</button>
			<span class="calculator__result">Результат</span>
		</div>
	</div>
</section>
