<footer class="footer">
	<div class="footer__container">
		<img class="footer__img" src="./images/logo-footer.svg" alt="" />
		<ul class="footer__list">
			<li class="footer__list-item">
				<a class="footer__list-link" href="tel:+38(123)4567890"
					>Тел: +38 (123) 456 78 90</a
				>
			</li>
			<li class="footer__list-item">
				<a class="footer__list-link" href="mailto:codingmagic@gmail.com"
					>E-Mail: codingmagic@gmail.com</a
				>
			</li>
			<li class="footer__list-item">
				<a class="footer__list-link" href="https://www.facebook.com/"
					>Facebook: CodingMagic</a
				>
			</li>
			<li class="footer__list-item">
				<a class="footer__list-link" href="https://x.com/"
					>Twitter: CodingMagic</a
				>
			</li>
			<li class="footer__list-item">
				<a class="footer__list-link" href="https://www.instagram.com/"
					>Instagram: CodingMagic</a
				>
			</li>
		</ul>
		<form class="footer__form">
			<input
				type="text"
				class="footer__form-input"
				placeholder="Ваша ел. адреса..."
			/>
			<button class="footer__form-button">Підписатись</button>
			<p class="footer__form-text">
				*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
			</p>
		</form>
	</div>
</footer>
