<section class="football" data-section="game">
	<div class="container football__container">
		<h2 class="football__title">Футбол</h2>
		<div class="football__place">
			<img
				class="football__ball reset-position"
				src="./images/football-ball.webp"
				alt="BALL"
			/>
			<ul class="football__list">
				<li class="football__list-item">
					<div class="football__cone cone1">
						<img src="./images/football-cone.png" alt="" />
					</div>
				</li>
				<li class="football__list-item">
					<div class="football__cone cone2">
						<img src="./images/football-cone.png" alt="" />
					</div>
				</li>
				<li class="football__list-item">
					<div class="football__cone cone3">
						<img src="./images/football-cone.png" alt="" />
					</div>
				</li>
				<li class="football__list-item">
					<div class="football__cone cone4">
						<img src="./images/football-cone.png" alt="" />
					</div>
				</li>
				<li class="football__list-item">
					<div class="football__cone cone5">
						<img src="./images/football-cone.png" alt="" />
					</div>
				</li>
			</ul>
			<img class="football__gate" src="./images/football-gate.png" alt="" />
			<p class="football__count">
				Рахунок <span class="football__count-number">0</span>
			</p>
		</div>
		<div class="football__start"></div>
		<button class="football__button-start">Запустити гру</button>
	</div>
</section>
