<section class="football" data-section="game">
	<div class="container football__container">
		<h2 class="football__title">Футбол</h2>
		<div class="football__place">
			<img class="football__ball reset-position" src="./images/football-ball.webp" alt="BALL" />
			<img class="football__cursor reset-position" src="./images/football-cursor.webp" alt="CURSOR" />
			<ul class="football__list">
				<li>
					<div class="football__cone cone1"><img src="../images/football-cone.png" alt=""></div>
				</li>
				<li>
					<div class="football__cone cone2"><img src="../images/football-cone.png" alt=""></div>
				</li>
				<li>
					<div class="football__cone cone3"><img src="../images/football-cone.png" alt=""></div>
				</li>
				<li>
					<div class="football__cone cone4"><img src="../images/football-cone.png" alt=""></div>
				</li>
			</ul>
		</div>
	</div>
</section>