<section class="guess-number" data-section="numeral">
	<div class="container">
		<h2 class="guess-number__title">Вгадай число, яке загадав комп’ютер</h2>
		<ul class="guess-number__list">
			<li class="guess-number__item">
				<form id="guessNumberForm" class="guess-number__form">
					<input
						class="guess-number__input"
						type="text"
						id="guessNumberInput"
						placeholder="Введіть число"
					/>
					<button class="guess-number__button">
						<img src="./images/guess-word.svg" alt="button" />
					</button>
				</form>
			</li>
			<li class="guess-number__item">
				<p id="guessNumberText" class="guess-number__text">
					Введіть число від 1 до 10
				</p>
			</li>
		</ul>
	</div>
</section>
