<section class="guess-number">
 <div class="container">
  <h2 class="guess-number__title">Вгадай число, яке загадав комп’ютер</h2>
  <ul class="guess-number__list">
   <li class="guess-number__item">
    <form class="guess-number__form">
     <input class="guess-number__input" type="text" placeholder="Введіть число">
     <button class="guess-number__button"><img src="./images/guess-word.svg" alt="button"></button>
    </form>
   </li>
   <li class="guess-number__item">
    <p class="guess-number__text">Вітаю, ви вгадали число! (number)</p>
   </li>
  </ul>
 </div>
</section>