<section class="leap-year">
	<div class="container container--year">
		<h2 class="leap-year__title">Перевір в який рік ти народився</h2>
		<div class="leap-year__wrapper">
			<form class="leap-year__input-form">
				<input class="leap-year__input" id="year" placeholder="Введіть рік народження"/>
				<button id="leap-year__btn" type="submit">
					<img src="./images/search.svg" alt="search" />
				</button>
			</form>

			<span id="leap-year__result">Введи свій рік народження у форму</span>
		</div>
	</div>
</section>
