<section class="our-team">
	<div class="container">
		<h2 class="our-team__title">Наша команда</h2>
		<div class="our-team__container">
			<img class="our-team__arrleft" src="../images/arrow_left.svg" alt="arrow left" width='50px' height='100px'/>
			<div class="our-team__window slider-box">
				
				<ul class="our-team__list"  data-slider>
					<li class="our-team__item" data-slider-item>
						<img 
						class="our-team__image" 
						src="https://images.pexels.com/photos/13599326/pexels-photo-13599326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
						alt="зображення" 
						/>
					</li>
					<li class="our-team__item" data-slider-item>
						<img 
						class="our-team__image" 
						src="https://images.pexels.com/photos/11815778/pexels-photo-11815778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
						alt="зображення" 
						/>
					</li>
					<li class="our-team__item" data-slider-item>
						<img 
						class="our-team__image"
						src="https://images.pexels.com/photos/6195166/pexels-photo-6195166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt="зображення" 
						/>
					</li>
				</ul>
			</div>
			<img class="our-team__arrright" src="../images/arrow_right.svg" alt="arrow right" width='50px' height='100px'/>
		</div>
		<p class="our-team__name">Ім’я студента</p>
		<p class="our-team__work">Інформація про роботу, яку він/вона виконав/ла</p>
	</div>
	
</section>
