<section class="rps-game" data-section="game">
	<div class="container ">
		<h2 class="rps-game__title">Камінь - ножиці - папір</h2>

		<div class="rps-game__wrapper">
			<div class="rps-game__choice">
				<ul class="rps-game__choice-list">
					<li class="rps-game__choice--item">
						<img src="./images/stone.svg" alt="stone" />
					</li>
					<li class="rps-game__choice--item">
						<img src="./images/scissors.svg" alt="scissors" />
					</li>
					<li class="rps-game__choice--item">
						<img src="./images/paper.svg" alt="paper" />
					</li>
				</ul>
				<ul class="rps-game__score">
					<li class="rps-game__score-item">Рахунок:</li>
					<li class="rps-game__score-item">
						Комп’ютер - <span class="">0</span>
					</li>
					<li class="rps-game__score-item">Ви - <span class="">0</span></li>
				</ul>
				<span class="rps-game__status">Ви виграли раунд!</span>

				<button class="rps-game__btn">Варіант комп’ютера</button>
			</div>
		</div>
	</div>
</section>