<section class="scientist" data-section="educational">
	<div class="container">
		<h2 class="scientist__title">Обери вченого/их</h2>

		<!-- Сітка карток -->
		<div class="scientist__card-box">
			<div class="scientist__card">'Albert Einstein</div>
			<div class="scientist__card">'Isaac Newton'</div>
			<div class="scientist__card">'Galileo Galilei'</div>
			<div class="scientist__card">'Marie Curie'</div>
			<div class="scientist__card">'Johannes Kepler'</div>
			<div class="scientist__card">'Nicolaus Copernicus'</div>
			<div class="scientist__card">'Max Planck'</div>
			<div class="scientist__card">'Katherine Blodgett'</div>
			<div class="scientist__card">'Ada Lovelace'</div>
			<div class="scientist__card">'Sarah E. Goode'</div>
			<div class="scientist__card">'Lise Meitner'</div>
			<div class="scientist__card">'Hanna Hammarström'</div>
		</div>

		<!-- Кнопки -->
		<div class="scientist__buttons">
			<button class="scientist__button" data-action="born-19">
				Які вчені народилися в 19 ст.
			</button>
			<button class="scientist__button" data-action="einstein-birth">
				Знайти рік народження Albert Einstein
			</button>
			<button class="scientist__button" data-action="sort-alpha">
				Відсортувати вчених за алфавітом
			</button>
			<button class="scientist__button" data-action="surname-c">
				Знайти вчених, прізвища яких починаються на літеру "C"
			</button>
			<button class="scientist__button" data-action="sort-age">
				Відсортувати вчених за кількістю прожитих років
			</button>
			<button class="scientist__button" data-action="remove-a">
				Видалити всіх вчених, ім’я яких починається на “A”
			</button>
			<button class="scientist__button" data-action="youngest">
				Знайти вченого, який народився найпізніше
			</button>
			<button class="scientist__button" data-action="longest-shortest">
				Знайти вченого, який прожив найдовше і вченого, який прожив найменше
			</button>
			<button class="scientist__button" data-action="matching-letters">
				Знайти вчених, в яких співпадають перші літери імені і прізвища
			</button>
			<button class="scientist__button" data-action="reset">
				Скинути фільтри
			</button>
		</div>
	</div>
</section>
