<section class="scientist"></section>
<h2>Обери вченого/их</h2>

<div class="card-box">
	<!-- 12 сірих карток -->
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
</div>

<div class="buttons">
	<button>Які вчені народилися в 19 ст.</button>
	<button>Знайти рік народження Albert Einstein</button>
	<button>Відсортувати вчених за алфавітом</button>
	<button>Знайти вчених, прізвища яких починаються на літеру "C"</button>
	<button>Відсортувати вчених за кількістю прожитих років</button>
	<button>Видалити всіх вчених, ім’я яких починається на “A”</button>
	<button>Знайти вченого, який народився найпізніше</button>
	<button>
		Знайти вченого, який прожив найдовше і вченого, який прожив найменше
	</button>
	<button>
		Знайти вчених, в яких співпадають перші літери імені і прізвища
	</button>
</div>
