<section class="biggest-num" data-section="numeral">
  <div class="container">
    <h2 class="biggest-num__title">Введіть 3 числа</h2>
    <form class="biggest-num__inputs-form">
      <input class="biggest-num__input" type="number" placeholder="Введіть число">
      <input class="biggest-num__input" type="number" placeholder="Введіть число">
      <input class="biggest-num__input" type="number" placeholder="Введіть число">
    </form>
    <span class="biggest-num__span">Введіть числа, у поля вводу</span>
  </div>
</section>