<section class="time-calculator">
	<div class="container">
		<h2 class="time-calculator__title">Калькулятор часу</h2>
		<div class="time-calculator__wrapper">
			<form class="time-calculator-form">
				<input
					type="number"
					class="time-calculator-form__input"
					placeholder="Введіть число"
				/>
				<button class="time-calculator-form__button" type="button">
					<img src="./images/search.svg" alt="search" />
				</button>
			</form>
			<span class="time-calculator__result">0 год . 0 хв</span>
		</div>
	</div>
</section>
