.container {
	max-width: 1090px;
	margin: 0 auto;

	// outline: 1px solid green;
	@media screen and (max-width: calc(getBreakpoint('xl') - 1px)) {
		width: 768px;
		// outline: 1px solid red;
	}

	@media screen and (max-width: calc(getBreakpoint('lg') - 1px)) {
		width: 480px;
		// outline: 1px solid blue;
	}

	@media screen and (max-width: calc(getBreakpoint('md') - 1px)) {
		width: 320px;
		padding: 0 5px;
		// outline: 1px solid yellow;
	}
}
