.football {
	padding: 36px 0;
}

.football:after {
	width: 536.000000000002;
	height: 1px;
	border-width: 1px;
	background-color: #000000;
}

.container {
	max-width: 1090px;
	margin: 0 auto;
}

.football__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.football__title {
	font-family: Montserrat Alternates;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	margin: 36px 0;
}


.football__place {
	position: relative;
	width: 720px;
	height: 220px;
	background-color: #5ABB58;
	border: 2px solid #000000;
	border-radius: 37px;
}

.football__ball {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 85px;
	left: 92px;
	transition: left 0.4s ease, top 0.4s ease;
}

.football__cursor {
	position: absolute;
	top: 99px;
	left: 485px;
	width: 11.999999794628748;
	height: 17.99999969194312;
}

.football__place {
	cursor: none;
}