.dino {
	> div {
		background: var(--primary);
		padding-top: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@include sectionLine;
	}

	&__title {
		margin-bottom: 36px;
		font-size: 16px;
		font-weight: 400;
	}

	&__btn {
		margin-top: 36px;
		font-family: getFont('montserrat');
		background-color: var(--secondary);
		color: var(--primary);
		font-weight: 400;
		border-radius: 20px;
		font-size: 12px;
		padding: 10px 20px;
		margin-bottom: 36px;
	}
}
