.hero {
	> .container {
		padding-top: 36px;

		&::after {
			content: '';
			background: var(--secondary);
			width: 536px;
			height: 1px;
			border: 1px solid var(--secondary);
			display: block;
			margin: 0 auto;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 36px;
	}
}
