.hero {
	> .container {
		padding-top: 36px;

		@include sectionLine;
	}
	&__title {
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 36px;

		@media screen and (max-width: calc(getBreakpoint('xl') - 1px)) {
			font-size: 22px;
		}

		@media screen and (max-width: calc(getBreakpoint('lg') - 1px)) {
			font-size: 20px;
		}

		@media screen and (max-width: calc(getBreakpoint('md') - 1px)) {
			font-size: 18px;
		}
	}
}
