.our-team {
	> .container {
		padding-top: 34px;
		text-align: center;
		background: var(--primary);

		@include sectionLine;
	}

	&__title {
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 36px;
	}

	&__window {
		width: 290px;
		margin: 0 auto;
	}

	&__name {
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: 400;

		@media screen and (max-width: calc(getBreakpoint('md') - 1px)) {
			font-size: 12px;
		}
	}

	&__work {
		font-size: 12px;
		font-weight: 400;
		max-width: 100%;

		@media screen and (max-width: calc(getBreakpoint('md') - 1px)) {
			font-size: 10px;
		}
	}

	&__list {
		display: flex;
		overflow-x: auto;
		width: max-content;
		height: 100%;
		gap: 30px;
		justify-content: center;
		align-items: center;
	}

	&__item {
		transform: translateX(0);
		transition: 0.3s ease-in-out transform;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 290px;
	}
	&__image {
		display: block;
		max-width: 100%;
		object-fit: cover;
		width: 150px;
		border-radius: 20px;
		height: 150px;
		margin-bottom: 20px;
	}

	&__pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
		margin-top: 24px;

		&-item {
			> button {
				width: 18px;
				height: 3px;
				background-color: var(--white-gray);
				border-radius: 3px;
				transition: 0.3s ease-in-out;
				transition-property: width, height;

				&.active {
					background-color: var(--swiper-active);
					width: 30px;
				}

				&:hover {
					height: 8px;
				}
			}
		}
	}

	&__container {
		display: flex;
		position: relative;
	}

	&__arrright {
		position: absolute;
		top: 25px;
		right: 92px;
		cursor: pointer;
		z-index: 1;
		transition: 0.3s ease-in-out transform;

		&:hover {
			transform: scale(1.1);
		}

		@media screen and (max-width: calc(getBreakpoint('lg') - 1px)) {
			right: 32px;
		}

		@media screen and (max-width: calc(getBreakpoint('md') - 1px)) {
			right: 0;
		}
	}

	&__arrleft {
		position: absolute;
		top: 25px;
		left: 92px;
		cursor: pointer;
		z-index: 1;
		transition: 0.3s ease-in-out transform;

		&:hover {
			transform: scale(1.1);
		}

		@media screen and (max-width: calc(getBreakpoint('lg') - 1px)) {
			left: 32px;
		}

		@media screen and (max-width: calc(getBreakpoint('md') - 1px)) {
			left: 0;
		}
	}
}
div.slider-box {
	// position: relative;
	overflow: hidden;
}
