.our-team {
	> .container {
		padding-top: 36px;
		text-align: center;
		background: var(--primary);

		@include sectionLine;
	}
	&__title {
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 36px;
	}
	&__window {
		width: 150px;
		height: 150px;
		border-radius: 20px;
		background-color: #6a3a3a;
		margin: 0 auto;
	}
	&__name {
		margin: 20px 0 20px;
	}
	&__list {
		display: flex;
		overflow-x: auto;
		position: absolute;
		left: 0;
		top: 0;
		width: max-content;
		height: 100%;
		// transition: left 0.3s ease;
	}
	&__image {
		display: block;
		max-width: 100%;
		object-fit: cover;
		width: 150px;
		height: 100%;
	}
	&__container {
		display: flex;
	}
	&__arrright{
		margin-right: 92px;
	}
	&__arrleft{
		margin-left: 92px;
	}
}
div.slider-box {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
	.our-team {
		&__arrright{
			margin-right: 32px;
		}
		&__arrleft{
			margin-left: 32px;
		}
	}
}
@media screen and (max-width: 480px) {
	.our-team {
		&__arrright{
			margin-right: 0;
		}
		&__arrleft{
			margin-left: 0;
		}
	}
}