.scientist {

  .container {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  &__title {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 36px;
  }

  &__card-box {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 59px;
    row-gap: 36px;
    text-align: center;
    width: 577px;
    margin-left: 257px;
    margin-right: 256px;
  }

  &__card {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background: #d9d9d9;
  }

  &__buttons {
    display: grid;
    // grid-template-columns: repeat(2, auto);
    grid-template-columns: max-content max-content;
    column-gap: 36px;
    row-gap: 20px;
    margin-left: 147px;
    margin-right: 86px;
    max-width: max-content;


    :nth-child(1) {
      width: 227px;
      justify-self: end;
    }

    :nth-child(2) {
      width: 298px;
      
    }

    :nth-child(3) {
      width: 282px;
      justify-self: end;
    }

    :nth-child(4) {
      width: 441px;
    }

    :nth-child(5) {
      width: 380px;
    }

    :nth-child(6) {
      width: 375px;
      
    }

    :nth-child(7) {
      width: 329px;
      justify-self: end;
    }

    :nth-child(8) {
      width: 368px;
      height: 50px;
      text-align: left;
    }

    :nth-child(9) {
      grid-column: 1 / 3;
      justify-self: center;
      width: 489px;
    }
  }

  &__button {
    background-color: #000;
    color: #fff;
    height: 35px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;


    &:hover {
      background-color: #222;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      outline: 2px solid #3498db;
      outline-offset: 2px;
    }

  }
}