.time-calculator {
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&::after {
			content: '';
			background: var(--secondary);
			width: 536px;
			height: 1px;
			border: 1px solid var(--secondary);
			display: block;
			margin: 0 auto;
			margin-top: 32px;
		}
	}

	&__title {
		font-family: map-get($fonts, 'montserrat'), sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: var(--secondary);
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		position: relative;
		&::before {
			content: '';
			border-bottom: 1px dashed var(--secondary);
			position: absolute;
			display: block;
			width: 100px;
			margin-top: 75px;
			left: 40%;
		}
	}

	&__wrapper {
		width: 392px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	&-form {
		position: relative;
		margin-right: 165px;

		&__input {
			border-radius: 20px;
			padding: 10px 45px 10px 10px;
			width: 150px;
			height: 35px;
			font-family: map-get($fonts, 'montserrat'), sans-serif;
			font-weight: 400;
			font-size: 12px;
			color: var(--white-gray);
			box-shadow: 3px 3px 0 0 #00000040;
			background: var(--gray);

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		&__button {
			width: 35px;
			height: 35px;
			padding: 10px;
			border-radius: 0 20px 20px 0;
			background-color: var(--secondary);
			position: absolute;
			right: 0%;
		}
	}

	&__result {
		text-wrap: nowrap;
	}
}
